<div class="md-syntax clearfix">
        <h5>Markdown syntax</h5><br/>
        <ul class="four columns">
            <li> <code>*single asterisks*</code> <em>italic</em></li>
            <li> <code>**double asterisks**</code> <strong>bold</strong></li>
            <li> <code>#This is an H1</code> </li>
            <li><code>## This is an H2</code></li>
            <li><code>###### This is an H6 </code></li>


        </ul>
        <ul class="four columns">
        <li><code>[link](http://rishighan.com "Rishi Ghan's website")</code></li>
        <li><code>[relative link](../rest/my/chemistry)</code></li>
        <li><code>Footanote[^1] ....<br/> [^1] Hourry uppp</code></li>
        </ul>

         <ul class="four columns">
        <li><code>> blockquote</code></li>
        <li><code>==highlight that shiznit==</code></li>

        </ul>

        <div class="thirteen columns clearfix">
        <code>![alt text](https://images.com/icon48.png "Logo Title Text 1")</code>
        <p>More information: <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown help</a></p>
        </div>

 </div>
