%div.meta.clearfix
  %div.left-meta
    =Pageviews.getviews(@post.friendly_id)
  %div.right-meta
    %h4{itemprop: "name"}=link_to(@post.title, article_path(@post.friendly_id))
    %h6.date{itemprop: "dateCreated"}=@post.created_at.strftime("%d %B, %Y")

%article.post
  %p{itemprop: "articleBody"}=find_and_preserve(markdown(@post.content))