%nav{:class=> "site-nav four columns", :id => "site-nav"}
  / Logo
  =link_to image_tag("/assets/rishighan-logo.png"), dev_path
  %ul
    %li work
    %li=link_to "Photolog", photolog_path
    %li=link_to "Archive", archive_path
    %li thesis
    %li colophon
