%nav{:class=> "site-nav three columns", :id => "site-nav"}
  / Logo
  =link_to image_tag("/assets/rishighan-logo.png"), '/'
  %ul
    %li=link_to "Work", projects_path
    %li=link_to "Photolog", photolog_path
    %li=link_to "Archive", archive_path
    %li thesis
    %li=link_to "Colophon", colophon_path
    %li trampoline
