%section.twelve.columns.offset-by-two.project-container
  %article.archive
    %h3="#{params[:action]}".capitalize
    -@archive.each do |month, posts|
      %h4=month.strftime("%B %Y")
      -posts.each do |post|
        %p=post.title
