/ n-n-n-n-n-n-na nav it out.
%nav.hero-nav.ten.columns

  %ul.left.six.columns
    -@postheroes.each do |post|
      %li
        %span.tags= post.title

  %ul.right.four.columns
    -@projectheroes.each do |project|
      %li
        %span.tags= link_to(project.title, project_path(project.friendly_id))

%section.posts-container.twelve.columns.offset-by-two
  -@log.each do |log|
    -if @ha[log.id].include? "Highlight"
      %article.post.highlight
        %span=markdown(log.content)

    -else
      %article.post
        %h3=link_to(log.title, article_path(log.friendly_id))
        %h5.date=log.created_at.strftime("%d %B, %Y")
        %p=find_and_preserve(markdown(log.content))
        %p
          -Pageviews.query(profile, '2015-02-15', '2015-03-01').each do |result|
            %span=result.try(:pageviews)
            %span=result.try(:uniquePageviews)


=paginate @log
