/ n-n-n-n-n-n-na-na nav it out.
%nav.hero-nav.ten.columns

  %ul.left.six.columns
    -@posts.each do |post|
      %li
        %span.infotags= post.title

  %ul.right.four.columns
    -@projects.each do |project|
      %li
        %span.infotags= project.title

%section.posts-container.twelve.columns.offset-by-two
  -@log.each do |log|
    %article.post
      %h3=log.title
      %h5=log.created_at.strftime("%d %B, %Y")
      %p=find_and_preserve(markdown(log.content))

  =paginate @log
