%nav.hero-nav.ten.columns

  %ul.left.six.columns
    -@posts.each do |post|
      %li
        %span.infotags= post.title

  %ul.right.four.columns
    -@projects.each do |project|
      %li
        %span.infotags= project.title
