%section.project-container.twelve.columns.offset-by-two
  %article.twelve.columns
    %ul
      -@projects.each do |p|
        %li
          %div
            %h3=link_to "#{p.title}", project_path(p)
            %p=p.excerpt

