%section.project-container.twelve.columns.offset-by-two
  %article{:itemscope => "", :itemtype =>"http://schema.org/Article", :id => "post"}
    -@project.categories.each do |cat|
      %ul
        %li{:itemprop => "genre"}=cat.title
    %h2{:itemprop => "headline"}=@project.title
    %div{:itemprop=> "articleBody"}=find_and_preserve(markdown(@project.content))
