%section.posts-container.trampoline.twelve.columns.offset-by-two{itemscope: "", itemtype: "http://schema.org/Article"}
  -@trampoline.each do |post|
    %article
      %h2{itemprop: "name"}!= link_to(post.title, article_path(post.friendly_id))
      %p{itemprop: "articleBody"}!= find_and_preserve(markdown(post.content))