%p
  %h2
    ="Showing All Posts"
  %h3
    =pluralize(@allposts.all.count, 'post') + ", "
    =pluralize(@alldrafts.count, 'draft')
%div
  .nine.columns#tab-container.tab-container
    %ul#tabbed
      %li.pull-left
        =link_to t('all_posts'), "#posts-panel"
      %li
        =link_to t('drafts'), "#drafts-panel"

    #posts-panel
      =paginate @allposts
      %ul
        -@allposts.each do |post|
          %li.listing
            %div.listing-item
              %h3=post.title
              %p=post.excerpt
              %p
                -if post.is_draft == 'yes'
                  %span.infotags.draft="Draft"
                -post.categories.each do |cat|
                  %span.infotags=cat.title
            %div.button-group
              =link_to "", edit_post_path(post.id), class: 'glyphicon glyphicon-pencil'
              =link_to '', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove'
    #drafts-panel
      %ul
        -@alldrafts.each do |draft|
          %li.listing
            %div.listing-item
              %h3=draft.title
              %p=draft.excerpt
            %div.button-group
              =link_to "", edit_post_path(draft.id), class: 'glyphicon glyphicon-pencil'
              =link_to '', draft, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove'
