%p
  %h2= I18n.t 'admin_header'
  %h4=pluralize(@allposts.count, 'post') + " in all"
  =form_tag(posts_path, method: :get) do
    =text_field_tag(:search_term, params[:search_term], placeholder: "Search Posts")
    %input{:type=>"submit", :value=> "Search"}

=paginate @posts
%div
  %div.twelve.columns
    / Posts with high pageviews
    %div.seven.columns
      %h3=I18n.t 'trending_posts'

    %div.five.columns
      %h3=I18n.t 'drafts'
