%p
  %h2="Showing All Posts"
  %h4=pluralize(@posts.count, 'post') + " in all"
  =form_tag(posts_path, method: :get) do
    =text_field_tag(:search_term, params[:search_term], placeholder: "Search Posts")
    %input{:type=>"submit", :value=> "Search"}

-@posts.each do |post|
  %article{class:"clearfix " + cycle('even','odd')}
    %h3=post.title
    -if post.is_draft == 'yes'
      %span.infotags="draft"

    -post.categories.each do |cat|
      %span.infotags=cat.title unless cat.title.empty?

    %p
      =find_and_preserve(markdown(post.content))
    %ul
      -post.attachments.each do |at|
        -if at.picture.present?
          %li
            =image_tag at.picture.url(:thumb)
            =at.picture.url(:original)
    %div.clear-both
    =link_to "Edit Post", edit_post_path(post)
    =link_to "Destroy", post_path(post), method: :delete, data:{confirm: "Delete Post?"}
