%p
  %h2="Showing All Posts"
  %h4=pluralize(@posts.count, 'post') + " in all"
  =form_tag(posts_path, method: :get) do
    =text_field_tag(:search_term, params[:search_term], placeholder: "Search Posts")
    %input{:type=>"submit", :value=> "Search"}

=paginate @posts
%div
  %div.table.twelve.columns
    %div.trow
      %div.cell.five.columns="Title"
      %div.cell.four.columns="Categories"
      %div.cell.three.columns="Actions"

    -@posts.each do |post|
      %div.trow{class: cycle('even','odd')}
        %div.five.columns
          %h4=post.title.titleize
          %span.caption
            =post.excerpt
          %span.sparky
            =Pageviews.getviews(post.friendly_id)

        /infotags
        %div.cell.four.columns.category-tags
          -if post.is_draft == 'yes'
            %span.infotags="draft"
          -post.categories.each do |cat|
            %span.infotags=cat.title unless cat.title.empty?
        /actions
        %div.cell.three.columns
          %ul.button-group
            %li
              =link_to edit_post_path(post) do
                %button{class: "pull-left"}
                  Edit Post
            %li
              =button_to "Destroy", post_path(post), method: :delete, data:{confirm: "Delete Post?"}, class: "pull-right"
