%p
  %h2= I18n.t 'admin_header'
  %h4=pluralize(@allposts.count, 'post') + " in all"
  =form_tag(posts_path, method: :get) do
    =text_field_tag(:query, params[:query], autocomplete: 'off', class: 'typeahead six columns')
    %input{:type=>"submit", :value=> t('search'), class: 'search-button'}

%div
  %div.twelve.columns
    / Posts with high pageviews
    %div.eight.columns
      %h3=I18n.t 'trending_posts'
      %ul.trending
        -@trending.first(5).each do |post|
          %li
            %h4.heading= link_to post[0], edit_post_path(post[4])
            %span=post[1]
            %div.sparky
              =post[3]

    / Drafts
    %div.four.columns
      %h3=I18n.t 'drafts'
      %div.drafts
        -@drafts.each do |draft|
          %h4.heading= link_to draft.title, edit_post_path(draft.friendly_id)
          %span=draft.excerpt
