%p
  %h2= I18n.t 'admin_header'
  %h4=pluralize(@allposts.count, 'post') + " in all"
  =form_tag(posts_path, method: :get) do
    =text_field_tag(:search_term, params[:search_term], placeholder: t('search_posts'))
    %input{:type=>"submit", :value=> t('search')}

=paginate @posts
%div
  %div.twelve.columns
    / Posts with high pageviews
    %div.eight.columns
      %h3=I18n.t 'trending_posts'
      %div.trending
        -@trending.each do |post|
          %h4.heading=post[0]
          %span=post[1]
          %div.sparky
            =post[3]



    %div.four.columns
      %h3=I18n.t 'drafts'
