-# attach JS handler
= javascript_include_tag 'attachments'

-# file upload field
%input#fileupload{"data-url" => "/posts/#{@post.id}/attachments", :multiple => "", :name => "attachment[picture]", :type => "file"}