%p#notice
  =notice

=link_to 'Back', posts_path
=link_to 'Edit', edit_post_path(@post)


%p
  %strong="Title:"
  =@post.title

%p
  %strong="Content:"
  =@post.content

%p.well
  -@post.attachments.each do |at|
    =image_tag at.picture.url(:thumb) if at.picture.present?

%p
  %strong="Excerpt:"
  =@post.excerpt