%p
  %h2="Listing Categories"

%div
  %div.five.columns
    =link_to new_category_path do
      %button
        New Category

  %div.nine.columns
    -@categories.each do |category|
      %div.listing{class: cycle('even','odd')}
        %div.listing-item
          %h4
            =category.title
          %p
            =category.description
        %div.button-group
          =link_to "", category_path(category), class: 'glyphicon glyphicon-eye-open'
          =link_to "", edit_category_path(category.id), class: 'glyphicon glyphicon-pencil'
          =link_to '', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-remove'
