%p
  %h2="Listing Categories"

%div
  %div.five.columns
    =link_to new_category_path do
      %button
        New Category

  %div.nine.columns
    -@categories.each do |category|
      %div.clearfix.listing{class: cycle('even','odd')}
        %div.pull-left
          %h4
            =category.title
          %p.caption
            =category.description
        %div.pull-right.button-group
          =link_to "Show", category_path(category), class: 'button-default'


          =link_to "Edit", edit_category_path(category.id), class: 'button-default'
          =link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button-default'
