!!! 5
/ Rishi Ghan
/ The Ninth Muse
/ 2014 All Rights Reserved

%head
  %title Rishi Ghan
  /[if IE9]
    %script{:src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  =stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
  =javascript_include_tag "application", "data-turbolinks-track" => true

  %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")

%body
  %section.hero-bg
  %div.container
    %p.notice
      =notice
    %p.alert
      =alert
    / Hero section container
    %section.hero.fourteen.columns
      / nav
      =render "shared/site_nav"
      / render the home page content
      =yield
